<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Mustafa Uçan-Blog'uma Hoş Geldiniz | </title>

    <!--Main Element CSS-->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/form.css" rel="stylesheet" type="text/css">
    <link href="/css/font-awesome.css" rel="stylesheet" type="text/css">

    <!--Responsive CSS-->
    <link href="/css/responsive.css" rel="stylesheet" type="text/css">

    <!--Flexy Menu CSS-->
    <link href="/css/flexy-menu.css" rel="stylesheet" type="text/css">

    <!--LayerSlider CSS-->
    <link href="/layerslider/css/layerslider.css" rel="stylesheet" type="text/css">

    <!--Important Owl CSS-->
    <link href="/css/owl.carousel.css" rel="stylesheet" type="text/css">

    <!--Owl DefaultTheme -->
    <link href="/css/owl.theme.css" rel="stylesheet" type="text/css">

    <!--MEGAFOLIO PRO GALLERY CSS-->
    <link rel="stylesheet" type="text/css" href="/megafolio/css/settings.css" media="screen" />

    <!--COLORBOX LIGHTBOX CSS-->
    <link rel="stylesheet" type="text/css" href="/css/colorbox.css" media="screen" />

    <!-- Flexslider CSS -->
    <link href="/css/flexslider.css" rel="stylesheet" type="text/css">

    <!-- Fancybox CSS -->
    <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css?v=2.1.5" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox-buttons.css?v=1.0.5" media="screen" />
    <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox-thumbs.css?v=1.0.7" media="screen" />

    <!-- Tooltip CSS -->
    <link href="/css/tooltip.css" rel="stylesheet" type="text/css">

    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,500,700|Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>

    <!--[if lte IE 8]>
    <meta HTTP-EQUIV="REFRESH" content="0; url=lte-ie8.html">
    <![endif]-->

</head>

<body class="dark">

    <!--Top Header Start-->
    <section class="top-header">
        <div class="wrapper topwrap">
            <p class="top-info">Mustafa Uçan Spor-Yazılım hakkında herşey</p>

            <!--Social Media Icons-->
            <ul class="top-socialmedia">
                <li>
                    <a href="https://www.facebook.com/buqqeRR"><img src="/images/social-media/top-social-media1.png" alt="social media" /></a>
                </li>
                <li>
                    <a href="/#"><img src="/images/social-media/top-social-media2.png" alt="social media" /></a>
                </li>
                <li>
                    <a href="/#"><img src="/images/social-media/top-social-media3.png" alt="social media" /></a>
                </li>
                <li>
                    <a href="/#"><img src="/images/social-media/top-social-media4.png" alt="social media" /></a>
                </li>
                <li>
                    <a href="/#"><img src="/images/social-media/top-social-media5.png" alt="social media" /></a>
                </li>
            </ul>
            <!--End-->

        </div>
    </section>
    <!--Top Header End-->

    <div class="wrapper">

        <!--Logo and Main Menu Start-->
        <header class="header-section">

            <!--Logo Start-->
            <div class="logo">
                <div class="logo-wrapper">
                    <a href="/index.html"><img src="/images/logo.jpg" alt="logo" /></a>
                </div>
            </div>
            <!--End-->
            <!--Navigation Menu Start-->
            <ul class="flexy-menu">
                <li class="active">
                    <a href="/">Anasayfa</a><div class="menu-space"></div>

                </li>
                <li>
                    <a href="/Hakkimda/">Hakkımda</a><div class="menu-space"></div>
                    
                </li>
                <li>
                    <a href="/Kategoriler/Index/1">Yazılım</a><div class="menu-space"></div>
                    
                </li>
                <li>
                    <a href="/Kategoriler/Index/2">Spor</a><div class="menu-space"></div>
                    
                </li>
             
                
            </ul>
            <!--Navigation Menu End-->

        </header>
        <!--Logo and Main Menu End-->

        <div class="container">

            <!--All Content Start-->
            <div class="content-wrapper">

                <!--Page Title-->
                <div class="page-title">
                    <div class="page-title-detail">
                        <h1>Mustafa Uçan</h1>
                        <p class="sub-title">Yazılım ve Spor Hakkında Herşey</p>
                    </div>
                    <nav class="page-navigation">
                        <ul>
                            <li><a href="/">Anasayfa</a></li>
                            <li>Blogum</li>
                        </ul>
                    </nav>
                </div>
                <!--End-->
                <!--Body Content Start-->
               
                 
                    @RenderBody()
                    <!--Sidebar Start-->
                    
                    <!--Sidebar End-->

                <!--Body Content End-->

            </div>
            <!--All Content End-->
            <!--Footer Start-->
            <footer class="footer-section">
                <div class="wrapper">
                    <div class="footer-content">
                        <div class="footer-top">

                            <!--Footer About Us-->
                            <section class="footer-about">
                                <figure>
                                    <img src="/images/logo-footer.png" alt="logo" />
                                </figure>
                                <div class="footer-details">
                                    <p>Adım Mustafa Uçan Tsk da AstSubay olarak çalişmatayim Hobilerim Yazılım ve Vucut gelistirme </p>
                                </div>
                            </section>
                            <!--Footer About Us End-->
                            <!--Footer Contact-->
                            <section class="footer-contact">
                                <h2 class="footer-title">İletişim Bilgilerim </h2>
                                <div class="footer-details">
                                    <ul>
                                        <li>
                                            <div class="contact-list">
                                                <span>Ankara</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contact-list email">
                                                <span>Facebook Adressim: https://www.facebook.com/buqqeRR </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="contact-list phone">
                                                <span>Mail ile iletişime geciniz</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <!--Footer Contact End-->
                            <!--Footer Subscribe-->
                            <section class="footer-subscribe">
                                <h2 class="footer-title">Abone ol</h2>
                                <div class="footer-details">
                                    <p>Abone Ol Büttün gelişmelerden ilk sen haberdar ol </p>
                                    <div class="subscribe-box">
                                        <form>
                                            <input class="first-name" type="text" name="firstname" placeholder="First name *" required />
                                            <input class="last-name" type="text" name="lastname" placeholder="Last name *" required />
                                            <input class="your-email" type="text" name="email" placeholder="Your email address *" required />
                                            <input class="subscribe-button" type="submit" value="Subscribe" />
                                        </form>
                                    </div>
                                </div>
                            </section>
                            <!--Footer Subscribe End-->

                        </div>

                        <!--Footer Bottom Start-->
                        <div class="footer-bottom">
                            <div class="copyright">
                                Copyright © All Rights Reserved. <a href="https://www.facebook.com/buqqeRR">Mustafa Uçan</a>
                            </div>
                            <nav>
                                <ul>
                                    <li><a href="/">Anasayfa</a></li>
                                    <li><a href="/Hakkimda/">Hakkımda</a></li>
   
                                </ul>
                            </nav>
                        </div>
                        <!--Footer Bottom End-->

                    </div>
                </div>

                <!--Go To Top-->
                <a href="/#" class="back-to-top"></a>
                <!--End-->

            </footer>
            <!--Footer End-->

        </div>

    </div>

    <div class="clearfix"></div>

    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/js/greensock.js"></script>

    <!--Flexy Menu Script-->
    <script type="text/javascript" src="/js/flexy-menu.js"></script>

    <!--LayerSlider Script-->
    <script type="text/javascript" src="/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
    <script type="text/javascript" src="/layerslider/js/layerslider.transitions.js"></script>

    <!--Carousel Plugin Script-->
    <script type="text/javascript" src="/js/owl.carousel.js"></script>

    <!-- MEGAFOLIO PRO GALLERY SCRIPT -->
    <script type="text/javascript" src="/megafolio/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="/megafolio/js/jquery.themepunch.megafoliopro.js"></script>

    <!-- COLORBOX LIGHTBOX SCRIPT -->
    <script type="text/javascript" src="/js/jquery.colorbox.js"></script>

    <!-- Flexslider Script -->
    <script type="text/javascript" src="/js/jquery.flexslider.js"></script>

    <!--Social Share Button Script-->
    <script src="/js/jquery.sharrre.min.js" type="text/javascript"></script>

    <!-- Fancybox Script -->
    <script type="text/javascript" src="/js/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script type="text/javascript" src="/js/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="/js/jquery.fancybox-media.js?v=1.0.6"></script>
    <script type="text/javascript" src="/js/jquery.fancybox-thumbs.js?v=1.0.7"></script>

    <!--Tooltip Script-->
    <script type="text/javascript" src="/js/tooltip.js"></script>

    <!--Placeholder Script-->
    <script type="text/javascript" src="/js/placeholder.js"></script>

    <!--Custom-->
    <script type="text/javascript" src="/js/custom.js"></script>

</body>
</html>
